
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container{
  display: flex;
  justify-content: flex-start; 
  align-items: center;        
  height: 100vh;
  background-color: #662222;  
  padding-left: 10%;  
}

.login-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;        
  height: 100vh;
  background-color: #ffffff;  
  padding-left: 10%;          

}

.login-form {
  background-color: #1a1a1a;
  padding: 3rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  border-left: 4px solid #ff4d00; 
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
}


.input-group {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;    
}

.input-group label {
  color: #888;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 14px;
  background-color: #262626;
  border: 1px solid #333;
  border-radius: 4px;
  color: #fff;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #ff4d00;      
  background-color: #2d2d2d;
}


.login-button {
  width: 40%;
  padding: 16px;
  background-color: #ff4d00;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #ff6a26;
  transform: translateX(5px); 
  box-shadow: 0 0 15px rgba(255, 77, 0, 0.3);
}


.footer-text {
  margin-top: 2rem;
  color: #666;
  font-size: 0.9rem;
}

.footer-text span {
  color: #ff4d00;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}

.footer-text span:hover {
  color: #ff854d;
}