/* Reset básico */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Container principal */
.login-container {
  display: flex;
  height: 100vh;
}
.Parameters {
  width: 50%;
  display: flex;
  justify-content: center; /* centraliza o bloco */
  align-items: center;
  height: 100vh;
  background-color: #111;
  color: white;
}

/* Caixa interna */
.form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Mantém tudo alinhado à esquerda */
.form-box label {
  text-align: left;
}

/* Tamanho fixo bonito */
.form-box input,
.form-box button {
  width: 250px;
}

.Parameters {
  width: 50%;
  display: flex;
  flex-direction: column;

  justify-content: center;  /* centraliza vertical */
  align-items: center;      /* centraliza horizontal */

  height: 100vh;            /* ocupa altura toda da tela */

  gap: 15px;
  background-color: #111;
  color: white;
}

/* Inputs */
.Parameters input {
  padding: 10px 100px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* Botão */
.Parameters button {
  padding: 12px 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: #ff4b2b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.Parameters button:hover {
  background-color: #ff1c00;
}

/* Parte da imagem */
.Logimg {
  width: 100%;
}

/* Imagem ocupa tudo */
.Logimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}